<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SperConnectionString1" connectionString="Data Source=.;Initial Catalog=sq_aoxiang;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="WWConnectionString" connectionString="Data Source=.;Initial Catalog=sq_aoxiang;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="sper_lvyouConnectionString1" connectionString="Data Source=.;Initial Catalog=sq_aoxiang;integrated security=true" providerName="System.Data.SqlClient"/>
    <add name="m_managerConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\m_manager.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI.Controls" assembly="Microsoft.Web.Preview"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension="*.asbx" type="Microsoft.Web.Preview.Services.BridgeBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="*.asbx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ASBXHandler" verb="GET,HEAD,POST" path="*.asbx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <appSettings/>
</configuration>